# Set to production when deploying to production
NODE_ENV=development

# Node.js server configuration
SERVER_PORT=8080
HOST_URL=http://localhost:8080

#JWT - to generate JWT keys, set to true and run server 2 times to generate JWT keys which will display in console
GENERATE_JWT_SECRETKEY=true
JWT_GENERAL_SK=
JWT_REFRESH_SK=